

<div class="navbar navbar_">
		<nav class="navbar navbar-expand-lg navbar-light" id="main_navbar">
				
				<div class="navbar-inner navbar-inner_">
		
						<div class="nav-collapse nav-collapse_ collapse">				 
				
					  <div class="collapse navbar-collapse" id="navbarSupportedContent">
							
				
						<ul class="navbar-nav mr-auto nav sf-menu clearfix">
				
						  <li><a href="http://cryptic-beyond-10470.herokuapp.com" target="_blank">EzFin</a></li>
						  <li><a class="nav-link" href="#">Logged In as <%=  user.id_usuario; %></a></li>
						  
				
						 
						  
      					  
				
						  <li class="nav-item dropdown <%=  index2_active %>">
				
							<a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown"
				
								href="https://www.jqueryscript.net/tags.php?/popup/">
				
								DASHBOARD
				
							</a>
				

									<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
											
											
											<li class="dropdown-item"><a href="/spendbycat">By Category</a>
							
											</li>
											<li class="dropdown-item"><a href="/cashflow">CashFlow</a>
												
											</li>
											<!--
											<li><a class="dropdown-item" href="#">Action</a></li>
							
												<li><a class="dropdown-item" href="#">Another action</a></li>
							
											<div class="dropdown-divider"></div>
							
											<li></li><a class="dropdown-item" href="#">Something else here</a></li>
							
											<li class="nav-item dropdown">
							
											<a class="dropdown-item dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown"
							
												aria-haspopup="true" aria-expanded="false">
							
												Dropdown
							
											</a>
							
											<ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
							
												<li><a class="dropdown-item" href="#">Action</a></li>
							
												<li><a class="dropdown-item" href="#">Another action</a></li>
							
												<div class="dropdown-divider"></div>
							
												<li></li><a class="dropdown-item" href="#">Something else here</a></li>
							
												<li class="nav-item dropdown">
							
												<a class="dropdown-item dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown"
							
													aria-haspopup="true" aria-expanded="false">
							
													Dropdown
							
												</a>
							
												<ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
							
													<li><a class="dropdown-item" href="#">Action</a></li>
							
													<li><a class="dropdown-item" href="#">Another action</a></li>
							
													<div class="dropdown-divider"></div>
							
													<li></li><a class="dropdown-item" href="#">Something else here</a></li>
							
												</ul>
							
												</li>
											
											</ul>  
							
											</li>-->
							
										</ul>

							
				
						  </li>
						  <li class="nav-item <%=  index3_active %>">
				
							<a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
				
						  </li> 
						  <li class="nav-item <%=  index4_active %>"><a class="dropdown-item" href="/login">Login</a></li>
							
						  <li><a class="dropdown-item" href="/logout">Log Out</a></li>
						</ul>
				
					  </div>
						</div>
						</div>
				
					</nav>
	<div class="navbar-inner navbar-inner_">
		
		<div class="nav-collapse nav-collapse_ collapse">
			
			<ul class="nav sf-menu clearfix">
			
      
				
				<li>
					<span></span>
				</li>
				
				<!-- <li class="<%=  index4_active; %>" ><a href="/signup">Sign Up</a></li> -->
				


    		</ul>
		</div>
	</div>
</div>